<div>
  <p>Made this cause I think the braintree documentation sucks. </p>
  <p>2 basic examples. Simple uses the dropin (less control), custom uses custom fields with braintree attributes.</p>
  <p>You will need to create a braintree sandbox account and add your keys to the braintree initializer, no worries about PCI
    because not sensitive data is going to your server.</p>
  <p> The customers example above shows how to store locally and in braintree.</p>
</div>

<div><%= link_to('simple', '/examples/simple_form') %></div>
<div><%= link_to('custom', '/examples/custom_form') %></div>
<div><%= link_to('deprecated (orange)', '/examples/deprecated_form') %> not completely implemented</div>
