<div><%= link_to('braintree sandbox', 'https://sandbox.braintreegateway.com/login') %></div>
<div><%= link_to('simple', '/examples/simple_form') %></div>
<div><%= link_to('custom', '/examples/custom_form') %></div>
