// Place all the styles related to the examples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label {
  min-width: 8em;
  display: inline-block;
  text-align: right;
  margin-right: .25em;
  margin-bottom: .5em;
}

legend {
  margin-bottom: .5em;
}